@import "../../styles/_vars.styl"

.Episode
  display: flex
  align-items: center
  padding: 1rem
  border-bottom: 1px solid var(--background)
  transition: box-shadow 0.2s ease-in-out

  &:hover
    box-shadow: 8px 8px 8px rgba(50, 50, 50, 0.14), -8px 0 8px rgba(50, 50, 50, 0.14)

  &__Play
    margin-right: 1rem

  &__Information
    width: 80%

    &__Title
      font-size: 1rem
      letter-spacing: 1px
      line-height: 1
      margin-bottom: 0.5rem
    
    &__Description
      font-size: 0.65rem
      letter-spacing: 1px
      line-height: 0.75rem
      margin: 0

  &__EQ
    margin-left: auto