@import "./_vars.styl"

.Footer
  background-color: var(--black)
  height: 150px

  &__Container
    display: flex
    align-items: center
    justify-content: space-between
    height: 100%

  &__Logo
    width: 100%
    max-width: 6rem

  &__Social
    display: flex
    justify-content: space-between
    height: 100%
    align-items: center
    width: 10rem

    img
      width: 100%
      max-width: 2rem